* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background-color: transparent;
}
.conitainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

#logoicon{width: 25px;
    height: 25px;

}
header{
    background-color: rgba(97, 170, 238, 0.975);
    height: 72px;
    padding: 16px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .container{display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .material-symbols-outlined{
    font-size: 1.5rem;
    color: black;
}
#logo{
    font-size: 2rem;
     color: rgb(247, 241, 243);
     font-weight: 600;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 0.5rem;
}
.product img{
    width: 100%;
}
.product{
    padding: 1rem;
    border: 1px solid rgb(215, 181, 181);
    border-radius: 1rem;
}
.product .rating{
    color: rgb(195, 153, 58);
font-size: 1.25rem;}

.product .price{
    font-size: 1rem;
}
.priceandbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product button{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(44, 148, 44);
    color: white;
    border-radius: 0.5rem;
}
.productlist{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem
    ;
}
